<!doctype html>
<html>
  <head>
    <title>Welcome to <%=shopData.shopName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Welcome to <%=shopData.shopName%></h1>

    <ul>
      <li><a href="/about">About <%=shopData.shopName%></a></li>
      <li><a href="/books/search">Search for books</a></li>
      <li><a href="/users/register">Register with us</a></li>
      <li><a href="/books/list">View all books</a></li>
      <li><a href="/books/addbook">Add a new book</a></li>
      <li><a href="/books/bargainbooks">View bargain books</a></li>
    </ul>
  </body>
</html>